:root {
    --gradient: linear-gradient(
      140deg,
      #ff6961,
      #fac898,
      #a7c7e7,
      #779ecb,
    );
}

body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main {
    width: 500px;
    margin: auto;
    text-align: left;
    overflow: hidden;
    background: linear-gradient(140deg, #ff6961, #fac898, #a7c7e7, #779ecb);
    background-size: 100%;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

.tabButton {
    margin: 2px 5px;
    border-radius: 0;
    font-weight: 600;
    height: auto;
    width: fit-content;
    border: 1px solid black;
    min-height: 20px;
    min-width: 30px;
}

.tabButton:active {
    background: #779ecb;
}

.activeTab {
    background: linear-gradient(140deg, #ff6961, #fac898, #a7c7e7, #779ecb);
}

#chats {
    width: 500px;
    margin: auto;
    text-align: left;
    overflow: hidden;
    background: #ffffff;
    background-size: 100%;
    padding: 30px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    display: flex column;
    align-items: center;
    justify-content: center;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

#tabs {
    text-align: left;
    margin: auto;
    width: 500px;
    border: solid black;
    background: #ffffff;
    padding: 10px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.submit, button {
    cursor: pointer;
    background: #eee;
    border-radius: 1rem;
    color: #000000;
    font-weight: 600;
    width: fit-content;
    border: 1px solid black;
  }

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #e4e3e3;
    border-radius: 1rem;
    border: 1px solid black;
}

.chat .username {
    font-weight: 800;
    cursor: pointer;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #353434;
    font-weight: 900;
    background-color: #779ecb;
}

.friend:hover {
    color: #111111;
    background-color: #8eb5e2 !important;
}

.refreshButton {
    cursor: pointer;
}

.messageSpinner {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fishy 1.5s linear infinite;
    color: #779ecb;
}

.messageSpinner img {
    padding: 10px;
}

@keyframes fishy {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
